{namespace fed=Tx_Fed_ViewHelpers}

<fed:comment comment="This part corrects column count and lets the FlexForm renderer
	'feed back' on itself, rendering additional content area FCE definitions" />
<f:if condition="{columns} < 1">
	<fed:data.var name="columns">1</fed:data.var>
</f:if>
<fed:data.func func="array_fill" arguments="{0: '0', 1: columns, 2: ''}" as="columnArray" />

<fed:fce id="content-columns" label="Layout: Columns">
	<fed:fce.field.select name="columns" label="Number of columns"
		items="{0: {0: 1}, 1: {0: 2}, 2: {0: 3}, 3: {0: 4}, 4: {0: 5}, 5: {0: 6}, 6: {0: 7}, 7: {0: 8}, 8: {0: 9}}" default="1" maxItems="1" />
	<fed:fce.field.input name="id" label="Custom ID of element - use for special styles; must be unique on page" />
	<fed:fce.field.userFunc name="style" label="Style editor" userFunc="Tx_Fed_Configuration_Wizard_FlexFormCodeEditor->renderField" default=""/>
	<fed:fce.grid>
		<fed:fce.grid.row>
			<f:for each="{columnArray}" as="void" iteration="iteration">
				<fed:data.func func="floor" as="gridColumnWidth"><fed:math>100/{columns}</fed:math></fed:data.func>
				<fed:fce.grid.column width="{gridColumnWidth}%">
					<fed:fce.content name="column{iteration.cycle}" label="Content column {iteration.cycle}" />
				</fed:fce.grid.column>
			</f:for>
		</fed:fce.grid.row>
	</fed:fce.grid>
</fed:fce>

<fed:style>
	<fed:raw>
	.content-columns { width: 100%; }
	.content-columns .content-column { vertical-align: top; }
	.w1 { width: 100%; }
	.w2 { width: 50%; }
	.w3 { width: 33.3%; }
	.w4 { width: 25%; }
	.w5 { width: 20%; }
	.w6 { width: 16.5%; }
	.w7 { width: 14.25; }
	.w8 { width: 12.5%; }
	.w9 { width: 11.1%; }
	</fed:raw>
	{style}
</fed:style>

<table class="content-columns" id="{id}">
	<tr>
	<f:for each="{columnArray}" as="void" iteration="iteration">
		<td class="content-column w{columns} column{iteration.cycle}"><fed:fce.renderContent area="column{iteration.cycle}" /></td>
	</f:for>
	</tr>
</table>