{namespace fed=Tx_Fed_ViewHelpers}

<div class='wildside-extbase-widget fed-widget file-upload-widget file-upload file-upload-section'>
	<fed:comment>
	
	Add options to fold/unfold the uploader and list, or each one by itself.
	In JS-Widget, register ".file-upload-section" AND ".file-upload-section > *" 
	as DisplayObjects and attach event listeners on each SECTION to call the 
	show() and hide() methods of each DIRECT CHILD OF SECTION
	</fed:comment>
	<div class='file-upload-section file-upload-browse'>
		<fed:comment>
		STUB: container for Hunch-hunch! What-what? The-fileuploader. Use the new
		fancypants one.
		</fed:comment>
		<button type="button">Upload file</button>
	</div>
	<div class='file-upload-section file-upload-list'>
		<fed:comment>
		File row rendering. Add icon-based controls for delete, rename - 
		and if possible, allow sorting.
		
		The icon-controls should use dk.wildside.display.Field when bootstrapped 
		and have event listeners reacting to dk.wildside.event.widget.FileUploadWidgetEvent
		and, if necessary, dk.wildside.event.widget.WidgetEvent
			- UPLOAD (dispatcher: file-upload)
			- DELETE (dispatcher: file-row)
			- SORT (dispatcher: file-list)
			- RENAME (dispatcher: file-row)
			- SHOW (dispatcher: file-upload-sections)
			- HIDE (dispatcher: file-upload-sections)
		
		A FileUploadWidgetEvent object will be included as an argument to the 
		listener function. This object will contain a reference to the DisplayObject that 
		dispatched the event of great justice :)
		
		Hints: ---------->
			<fed:Field name="" value=""><f:image src="" alt="icon" class="wildside-extbase-field fed-field" /></fed:Field>
			...and register some MouseEvent listeners.
			
			// from all methods which change the number/names etc. of files:
			this.dispatchEvent(dk.wildside.event.Event.DIRTY);
			// ... the Component and/or widget listener methods take care of the rest
		----------------->
		
		</fed:comment>
		<f:for each="{files}" as="file" iteration="iteration">
			<fed:comment>
			Loopiness 
			</fed:comment>
		</f:for>
	</div>
</div>